<div class="north">
    <div class="searchbar">
        <input type="text" name="" id="" [(ngModel)]="searchInput" placeholder="search...">
        <button type="button" (click)="applyFilter()"></button>
    </div>

    <form #filterForm="ngForm" class="filter">
        <p><strong>Filter :</strong></p>
        <div class="minmax">
          <input type="text" placeholder="min" [(ngModel)]="min" name="min" id="min" />
          <input type="text" placeholder="max" [(ngModel)]="max" name="max" id="max" />
        </div>
        <select [(ngModel)]="sortOrder" name="sortOrder">
          <option value="" selected>Sort:</option>
          <option value="price">prix croissant</option>
          <option value="-price">prix decroissant</option>
          <option value="createdAt">plus recent</option>
          <option value="-createdAt">moins recent</option>
        </select>
        <select [(ngModel)]="selectedLocation" name="selectedRegion">
          <option value="">All Regions:</option>
          <option *ngFor="let i of region" [value]="i">{{ i }}</option>
        </select>
        <select [(ngModel)]="selectedCategory" name="selectedCategory">
          <option value="">All Categories:</option>
          <ng-container *ngFor="let category of categories">
            <optgroup [label]="category.type">
              <option *ngFor="let item of category.items" [value]="item">{{ item }}</option>
            </optgroup>
          </ng-container>
        </select>
        <div class="checkbox">
          <label>
            <input type="radio" name="gender" [(ngModel)]="gender" value="man" />
            man
          </label>
          <label>
            <input type="radio" name="gender" [(ngModel)]="gender" value="woman" />
            woman
          </label>
        </div>
        <div class="btn">
          <button type="button" (click)="applyFilter()" class="filterBtn">Filter</button>
          <button
            type="button"
            class="resetBtn"
            (click)="resetForm(filterForm)"
          >
            Reset
          </button>
        </div>
      </form>
</div>
