<div class="profile-container">
        <div class="sidebar">
            <img [src]="this.user.image" alt="Profile Picture" class="avatar">
            <button routerLink="/addArticle">Add Product</button>
            <button
  routerLink="/editProfile"
  [queryParams]="{
    image: user.image,
    name: user.username,
    mail: user.email,
    phone: user.phoneNumber,
    location: user.location
  }"
>
  Edit Profile
</button>
            <button (click)="logMeOut()">Log Out</button>
        </div>
        <div class="info-section">
            <h2>{{user.username}}</h2>
            <h3>Personal Info</h3>
            <p><strong>E-mail:</strong> {{user.email}}</p>
            <p><strong>Phone:</strong> {{user.phoneNumber}}</p>
            <p><strong>Location:</strong> {{user.location}}</p>
            <h3>Products</h3>
        </div>

</div>
