* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-container {
    display: flex;
    align-items:center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    margin-top: 15vh;
}

/* Sidebar Styles */
.sidebar {
    background-color: rgb(215, 176, 117);
    color: white;
    width: 250px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -250px;
    padding: 40px 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sidebar .avatar {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    margin: 15px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.sidebar button:hover {
    color: rgb(254, 217, 161);
}

/* User Info Section */
.info-section {
    margin-top: -250px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-section h2 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

.info-section h3 {
    font-size: 24px;
    color: #6c757d;
    margin-bottom: 15px;
}

.info-section p {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}