
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: #fff;
    margin: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-padding : 2rem ;
    height: 80vh;
    padding: 20px; 
    scroll-behavior: smooth;
    margin-top: 30px;
}



body::-webkit-scrollbar {
    display: none;
}






.form-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    max-width: 800px; 
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    margin: 40px;
}

.form-left {
    padding: 40px;
    width: 50%;
}



.form h2 {
    color:  black ;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.form p{
    color:  black ;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form input {
    height:max-content;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color:white;
    color:  rgb(194, 193, 193) ;
    border: 2px solid #b8b1b1; 
    padding: 5px;
    border-radius: 4px; 
}

.form input::placeholder {
    color: #d2d2d2;
}



.submit-btn {
    background-color: black ;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: grey ;
}

.form-right {
    width: 50%;
}

.form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hidden {
    display: none;
}

a {
    color: #A7845F; 
    text-decoration: none; 
    font-family: inherit; 
    font-size: inherit; 
  }
  
  a:hover {
    text-decoration: underline; 
  }
  


@media screen and (max-width: 768px) {
    .form-content {
        flex-direction: column;
        width: 100%;
    }

    .form-left,
    .form-right {
        width: 100%;
    }

    .form-left {
        padding: 20px;
    }

    .form-image {
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .form-left {
        padding: 10px;
    }

    .tab {
        font-size: 1em;
    }

    .form input {
        padding: 8px;
        margin: 8px 0;
    }

    .submit-btn {
        padding: 8px;
    }

    .form h2 {
        font-size: 1.2em;
    }
}
