<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="assets/images/photo.jpg" alt="">
    <div class="description">
        <h1>About</h1>
        <p class="text">
        Our project is an online platform designed to bring together buyers and sellers for a streamlined, user-friendly marketplace experience. With a focus on simplicity, ease of use, and efficient functionality, this site enables users to easily browse, buy, and sell various items, from clothing and electronics to home goods and unique collectibles. Built using a modern tech stack, the frontend leverages Angular for a dynamic and interactive user interface, while the backend, powered by Node.js, ensures secure, fast, and scalable data handling.

        Key features include the ability to search by product category, filter by price range, and specify location to find items nearby, making the browsing experience more tailored and effective. For sellers, adding an item for sale is straightforward, with options to upload images, set prices, and provide detailed descriptions. The system also integrates a messaging function that allows buyers to contact sellers directly, improving communication and transparency.

        Additionally, each user has a dedicated profile page, where they can manage their listings, view their buying history, and update personal information. With an emphasis on security, user data is protected with robust authentication and authorization mechanisms, ensuring safe transactions. The project also prioritizes responsive design, so the platform adapts seamlessly across devices, from desktop to mobile.
       </p>
    </div>
</div>
<app-footer></app-footer>