
::ng-deep app-nav-bar{
    background-color: transparent;
}

.container{
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    background-color: white;
}

.container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description{
    margin-top: -30px;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    height: 500px;
    width:850px;
    background-color: rgb(126, 125, 125);
    opacity: 90%; ;
}

.description h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 60px;
}

.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    padding-top: 10px;
    line-height: 1.3;
}

@media all and (max-width: 1500px){
    .description{
        width: 50%;
        font-size: 16px;
    }
}

@media all and (max-width: 1200px){
    .description{
        width: 60%;
        font-size: 14px;
    }
}

@media all and (max-width: 920px){
    .description{
        width: 70%;
        font-size: 14px;
    }
}
@media all and (max-width: 780px){
    .description{
        width: 75%;
        font-size: 14px;
    }
}
@media all and (max-width: 650px){
    .description{
        width: 80%;
        font-size: 12px;
        padding: 1vh 1vw;
    }
    h1{
        font-size: 35px;
    }
}
@media all and (max-width: 480px){
    .description{
        width: 90%;
        font-size: 10px;
    }
    h1{
        font-size: 30px;
    }
}