.container{
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    background-color: white;
}

.container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    margin-top: -10px;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    height: 400px;
    width:500px;
    background-color: rgb(126, 125, 125);
    opacity: 90%; ;
}

form h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 60px;
}

form p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content:baseline;
    gap:20px;
    padding-left: 100px;
    padding-top: 30px;
}

button{
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    background-color:white;
    color:rgb(126, 125, 125);
    margin-top: 30px;
}

.phone{
    width : 150px;
}

@media all and (max-width: 1500px){
    form{
        width: 40%;
    }
    p{
        width: 120%;
    }
}

@media all and (max-width: 1200px){
    form{
        width: 50%;
    }
}

@media all and (max-width: 920px){
    form{
        width: 60%;
    }
}
@media all and (max-width: 650px){
    form{
        width: 70%;
    }
}
@media all and (max-width: 480px){
    form{
        width: 80%;
    }
}