* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f9;
}

.form-container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.form-content {
    display: flex;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-right: 20px;
}

#profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.photo-upload-label {
    color: grey;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: underline;
}

#photo-upload {
    display: none; /* Hide the file input */
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.form input::placeholder {
    color: #d2d2d2;
}
form input:focus {
    outline: none;
    border-color: rgb(215, 176, 117);
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color:rgb(215, 176, 117);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(153, 152, 152)
}