<app-nav-bar></app-nav-bar>

<div class="form-container">
  <div class="form-content">
    <div class="profile-photo-section">
      <img
        id="profile-photo"
        [src]="'http://localhost:3000/public/img/users/' + user.image"
        alt="Profile Photo"
      />
      <label for="photo-upload" class="photo-upload-label"
        >Change Profile Photo</label
      >
      <input
        type="file"
        id="photo"
        accept="image/*"
        (change)="onFileSelect($event)"
      />
    </div>

    <form>
      <label for="name">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="{{ user.name }}"
        required
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="{{ user.mail }}"
        required
      />

      <label for="phone">Phone Number</label>
      <input
        type="tel"
        id="phoneNumber"
        name="phone"
        placeholder="{{ user.phone }}"
        required
      />

      <label for="location">Location</label>
      <input
        type="text"
        id="location"
        name="location"
        placeholder="{{ user.location }}"
      />

      <button type="button" (click)="verifInput()">Update Profile</button>
    </form>
  </div>
</div>
