
<app-nav-bar></app-nav-bar>
<div *ngIf="errmsg.length>0" class="errmsg">
    <p>{{ errmsg }}</p>
</div>
<div class="container">
    <img src="assets/images/photo.jpg" alt="">
    <div class="form" action="" method="post">
        <h1>Create post</h1>
            <div class="upperrow">
                Title:
                <input type="text" id="title" [(ngModel)]="this.title">
            </div>
            <div class="mid">
                <div>
                    Price:
                    <input type="text" id="price" [(ngModel)]="this.price">
                </div>
            
                <select [(ngModel)]="this.category" id="category">
                    <option value="" selected>All Categories :</option>
                    <ng-container *ngFor="let category of categories">
                        <optgroup [label]="category.type">
                        <option *ngFor="let item of category.items" [value]="item">{{ item }}</option>
                        </optgroup>
                    </ng-container>
                </select>

                <select [(ngModel)]="this.location" name="selectedRegion" id="location">
                    <option value="">All Regions:</option>
                    <option *ngFor="let i of regions" [value]="i">{{ i }}</option>
                </select>

            </div>
        
            <div class="checkbox">
                <b>Gender:</b>
                <input type="radio" name="gender" id="gender" value="man" [(ngModel)]="this.gender">man
                <input type="radio" name="gender" id="gender" value="woman" [(ngModel)]="this.gender">woman
            </div>
            <div class="ptextarea">
                <p>Descrition:</p>
                <textarea id="description" [(ngModel)]="this.description" placeholder="(optional)"></textarea>
            </div>
            <div class="photo">
                Photos:
                <input type="file" multiple accept="image/*" id="photos" (change)="onFileSelect($event)">
            </div>
            <div class="btn">
                <button type="button" id="submit" (click)="validateAndSubmit()">Post</button>
                <button (click)="resetForm()">Reset</button>
            </div>
        </div>
</div>
