

.container{
    /*margin-top: 10vh;*/
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    background-color: white;
}

.container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form{
    margin-top: -10px;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    height: 400px;
    width:500px;
    background-color: rgb(126, 125, 125);
    opacity: 90%; ;
}
.form h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 60px;
}

.upperrow{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content:baseline;
    gap:20px;
    padding-left: 120px;
    padding-top: 10px;
}
.mid{
    display: flex;
    justify-content:baseline;
    gap:20px;
}

.mid div{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content:baseline;
    gap:15px;
    padding-left: 120px;
    padding-top: 30px;
}

.mid #select{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:10px;
    margin-top: 30px;
}

.checkbox{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content:baseline;
    gap:20px;
    padding-left: 120px;
    padding-top: 30px;
}
.checkbox b{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
.checkbox input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.ptextarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content:baseline;
    gap:20px;
    padding-left: 120px;
    padding-top: 30px;
}

.ptextarea p{
    padding-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.ptextarea textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.photo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    justify-content:baseline;
    gap:20px;
    padding-left: 120px;
    padding-top: 30px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.btn button{
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    background-color:white;
    color:rgb(126, 125, 125);
    
}

@media all and (max-width: 1500px){
    .form{
        width: 45%;
    }
    .checkbox input[type=radio]{
        transform: scale(1.2);
    }
}

@media all and (max-width: 1200px){
    .form{
        width: 55%;
    }
    .checkbox input[type=radio]{
        transform: scale(1.35);
    }
}

@media all and (max-width: 920px){
    .form{
        width: 65%;
    }
    .checkbox input[type=radio]{
        transform: scale(1.5);
    }
}
@media all and (max-width: 650px){
    .form{
        width: 75%;
    }
    .checkbox input[type=radio]{
        transform: scale(1.75);
    }
}
@media all and (max-width: 480px){
    .form{
        width: 85%;
    }
    .checkbox input[type=radio]{
        transform: scale(2);
    }
}