.container{
    /*margin-top: 10vh;*/
    height: 100vh;
    width: 100vw;
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    background-color: antiquewhite;
}

.form {
    width: 35%;
    background: #00000079;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 1em;
    border-radius: 10px;
    color: #fff;
    row-gap: 1vh;
}

.upperrow, .mid{
    padding: 1vh 0;
    height: 6vh;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upperrow input{
    height: 4vh;
    width: 88%;
}

.mid div{
    display: flex;
    align-items: center;
    height: 100%;
}

.mid input{
    height: 100%;
    width: 5vw;
}

select, option{
    height: 4vh;
    width: 60%;
    text-align: center;
    background-color: antiquewhite;
    border: 0.5px solid black;
}

.checkbox{
    display: flex;
    column-gap: 0.2vw;
    justify-content: space-evenly;
    width: 30%;
    padding: 1vh 0;
}

.ptextarea{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: space-between;
    padding: 0 0 1vh 0;
}

.ptextarea textarea{
    min-height: 70%;
    width: 100%;
    resize: vertical;
}

.btn{
    padding: 1vh 0;
    height: 20%;
    width: 60%;
}

.btn button{
    height: 100%;
    width: 50%;
}

.photo{
    height: 6vh;
    width: 60%;
    background: aquamarine;
    display: flex;
    align-items: center;
}