<div class="container">
  <div class="leftside">
    <div class="logo">
      <img src="assets/images/DABSHY.png" alt="logo" />
    </div>
    <ul>
      <li routerLink=""><img src="assets/images/home.png" /></li>
      <li routerLink="/contact"><img src="assets/images/contact.png" /></li>
      <li routerLink="/about"><img src="assets/images/about.png" /></li>
    </ul>
  </div>
  <div class="title">
    <h1>Dabshy</h1>
  </div>
  <div class="rightside">
    <ng-container>
      <button
        type="button"
        class="addarticle"
        *ngIf="this.router.url != '/addArticle'"
        (click)="goToAddArticle()"
      >
        Add Article
      </button>
    </ng-container>
    <button
      type="button"
      class="loginBtn"
      *ngIf="!authService._isLoggedIn"
      (click)="goToLogin()"
    >
    Login
  </button>

      <img
        class="profile"
        [src]="'http://localhost:3000/public/img/users/' + user.image"
        alt="*"
        *ngIf="authService._isLoggedIn"
        (click)="onProfileClick(user)"
        
      />

    <button
      type="button"
      class="logoutBtn"
      *ngIf="authService._isLoggedIn"
      (click)="this.authService.logout()"
    >LogOut
  </button>
  </div>
</div>
