<app-nav-bar></app-nav-bar>

<div class="form-container">
  <div class="form-content">
    <div class="form">
      <label for="name">Current Password</label>
      <input
        [(ngModel)]="user.passwordCurrent"
        type="text"
        id="passwordCurrent"
        name="name"
        required
      />

      <label for="npwd">New Password</label>
      <input
        [(ngModel)]="user.password"
        type="text"
        id="password"
        name="npwd"
        required
      />

      <label for="cpwd">Confirm Password</label>
      <input
        [(ngModel)]="user.passwordConfirm"
        type="text"
        id="passwordConfirm"
        name="cpwd"
        required
      />

      <button type="button" (click)="changePwd()">Change Password</button>
    </div>
  </div>
</div>
