/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Trebuchet MS', sans-serif;
 
    transition: 0.3s ease, background-color 0.3s ease;
  
}

html, body{
    overflow: auto;
}

*::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

*{
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
}

input:focus{
    outline: 0;
}