
.container {
    margin-top: 15vh;
    width: 100%;
    max-width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    padding: 0 1vw 5vw 1vw;
}

.container.blurred {
    filter: blur(8px); /* Blur the background */
    pointer-events: none; /* Disable interaction with the blurred container */
}

.listArticles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    gap: 1vw;
    width: 80vw;
    max-width: 80vw;
    border-radius: 10px;
    padding: 0.5vw;
    position: relative;
    overflow: visible;
}

.navigationContainer {
    margin-top: 150px;
    position: absolute;
    bottom: -5vh; 
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    display: flex; /* Flexbox to align buttons horizontally */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
  
  
.pageIndex {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pageIndex:hover {
    background-color: #000000;
    color: #ffffff;
}

.navigation{
    height: 5vh;
    width: 5vh;
    bottom: -5vh;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

.rightBtn, .leftBtn{
    color: #000;
    height: 4vh;
    width: 2vw;
    background: transparent;
}

.filterDiv{
    height: 50vh;
    width: 20vw;
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.filterDiv.visible {
    display: block;
}

.humbergerBtn{
    position: absolute;
    top: 70vh;
    left: 0.5%;
    height: 5vh;
    width: 5vh;
    
    border-radius: 50%;
    cursor: pointer;
    
    background-image: url(../../assets/images/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    background-color: transparent;
}

.close{
    background-image: url(../../assets/images/close.png);
}

@media all and (max-width: 1500px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 40vh;
    }
    .filterDiv{      
        height: 50vh;
        width: 25vw;
    }
}

@media all and (max-width: 1200px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 50vh;
    }
    .filterDiv{
        height: 50vh;
        width: 30vw;
    }
}

@media all and (max-width: 920px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 75vh;
    }
    .filterDiv{
        height: 50vh;
        width: 40vw;
    }
}
@media all and (max-width: 650px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        width: 85%;
        height: max-content;
    }
    .container{
        margin-bottom: 200vh;
    }
    .filterDiv{
        height: 50vh;
        width: 60vw;
    }
}
@media all and (max-width: 480px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 510vh;
    }
    .filterDiv{
        height: 50vh;
        width: 80vw;
    }
}