
.container {
    height: 80vh;
    margin-top: 15vh;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 235, 205, 0.25);
    display: flex;
    justify-content: center;
    padding: 0 1vw 5vw 1vw;
    overflow: visible;
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.container.blurred {
    filter: blur(8px); /* Blur the background */
    pointer-events: none; /* Disable interaction with the blurred container */
}

.listArticles {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 0.5vw;
    width: 70%;
    background: #b1afaf1f;
    border-radius: 3px;
    padding: 0.5vw;
    position: relative;
    overflow: visible;
    align-items: flex-start;
    transition: 0.2s ease, background-color 0.2s ease;
}

.navigationContainer {
    position: absolute;
    bottom: -5vh; /* Adjust to place at the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    display: flex; /* Flexbox to align buttons horizontally */
    justify-content: center;
    align-items: center;
}
  
.pageIndex {
margin: 0 5px; /* Adds spacing between buttons */
padding: 5px 10px;
border-bottom: 1px solid #000;
background-color: #f5f5f5;
cursor: pointer;
}

.pageIndex:hover {
background-color: #ddd;
}

.navigation{
    height: 5vh;
    width: 5vh;
    bottom: -5vh;
    cursor: pointer;
    background: #aa9;
    border-radius: 50%;
}

.rightBtn, .leftBtn{
    border-radius: 5px;
    height: 4vh;
    width: 20px;
    background: #fa9;
}

.filterDiv{
    height: 50vh;
    width: 20vw;
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.filterDiv.visible {
    display: block;
}

.humbergerBtn{
    position: fixed;
    top: 8.5%;
    left: 0.5%;
    height: 5vh;
    width: 5vh;
    
    border-radius: 50%;
    cursor: pointer;
    
    background-image: url(../../assets/images/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    background-color: transparent;
}

.close{
    background-image: url(../../assets/images/close.png);
}

@media all and (max-width: 1500px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 15vh;
    }
    .filterDiv{      
        height: 50vh;
        width: 25vw;
    }
}

@media all and (max-width: 1200px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 20vh;
    }
    .filterDiv{
        height: 50vh;
        width: 30vw;
    }
}

@media all and (max-width: 920px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 45vh;
    }
    .filterDiv{
        height: 50vh;
        width: 40vw;
    }
}
@media all and (max-width: 650px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        width: 85%;
        height: max-content;
    }
    .container{
        margin-bottom: 165vh;
    }
    .filterDiv{
        height: 50vh;
        width: 60vw;
    }
}
@media all and (max-width: 480px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 400vh;
    }
    .filterDiv{
        height: 50vh;
        width: 80vw;
    }
}