
.container {
    margin-top: 15vh;
    width: 100%;
    max-width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    padding: 0 1vw 5vw 1vw;
}

.container.blurred {
    filter: blur(8px); /* Blur the background */
    pointer-events: none; /* Disable interaction with the blurred container */
}

.listArticles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    gap: 1vw;
    width: 80vw;
    max-width: 80vw;
    border-radius: 10px;
    padding: 0.5vw;
    position: relative;
    overflow: visible;
}

.navigationContainer {
    margin-top: 150px;
    position: absolute;
    bottom: -5vh; 
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    display: flex; /* Flexbox to align buttons horizontally */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
  
  
.pageIndex {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pageIndex:hover {
    background-color: #000000;
    color: #ffffff;
}

.navigation{
    height: 5vh;
    width: 5vh;
    bottom: -5vh;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

.rightBtn, .leftBtn{
    color: #000;
    height: 4vh;
    width: 2vw;
    background: transparent;
}

.filterDiv{
    height: 50vh;
    width: 20vw;
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.filterDiv.visible {
    display: block;
}

.humbergerBtn{
    position: absolute;
    top: 70vh;
    left: 0.5%;
    height: 5vh;
    width: 5vh;
    
    border-radius: 50%;
    cursor: pointer;
    
    background-image: url(../../assets/images/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    background-color: transparent;
}

.close{
    background-image: url(../../assets/images/close.png);
}

.container {
    margin-top: 15vh;
    width: 100%;
    max-width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw 5vw 1vw;
}

.north{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 17vw;
    background-color: white;
    padding: 2vh 1vh;
    border: 1px solid black;
    border-radius: 20px;   
}

.searchbar input{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.listArticles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    gap: 1vw;
    width: 80vw;
    max-width: 80vw;
    border-radius: 10px;
    padding: 0.5vw;
    position: relative;
    overflow: visible;
}

.navigationContainer {
    margin-top: 150px;
    position: absolute;
    bottom: -5vh; 
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    display: flex; /* Flexbox to align buttons horizontally */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
  
.pageIndex {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pageIndex:hover {
    background-color: #000000;
    color: #ffffff;
}

.navigation{
    height: 5vh;
    width: 5vh;
    bottom: -5vh;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

.rightBtn, .leftBtn{
    color: #000;
    height: 4vh;
    width: 2vw;
    background: transparent;
}

h1 {
    padding: 4vw 0 2vw 0;
}

.filter{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 1vw;
    padding: 0.5vw 0;
}

.minmax{
    display: flex;
    justify-content: space-between;
}

.minmax input{
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.filter input[type=text]{
    height: 2vw;
    width: 7vw;
    border-radius: 3px;
    border: #000 0.1px solid;
    font-size: 20px;
    padding: 0 0.3vw;
}

select, option{
    width: 100%;
    padding: 1vh;
    text-align: center;
    color: white;
    background-color: rgb(78, 77, 77);
    border: 0.5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter input[type=radio]{
    height: 1vw;
    width: 1vw;
    margin: 0 0.2vw;
    border: #000 0.1px solid;
}

.filter button[type=reset]{
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter button[type=reset]:hover{
    background-color: rgb(199, 5, 5);
    color: #fff;
    border-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter p{
    font-size: 20px;
    font-size: 20px;
    font-family: monospace;
}


.filter button:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.filter button:active{
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 5px;
}


.filter button[type=reset]:active{
    background-color: rgba(255, 228, 196, 0);
    color: #f00;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filterBtn{
    padding: 1.5vh 0;
    width: 75%;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    border: #000 0.1px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resetBtn{
    width: 20%;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    border: #000 0.1px solid;
}

.searchbar{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchbar input{
    height: 100%;
    width: 83%;
    border-radius: 20px;
    border: 0.2px solid black;
    padding: 0 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.searchbar input::placeholder{
    font-size: 16px;
}

.searchbar input:focus{
    border: 0.2px solid black;
    outline: 0;
}

.searchbar button{
    height: 5vh;
    width: 5vh;;
    border-radius: 50%;
    border: 0.2px solid black;
    background-image: url(../../assets/images/search_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media all and (max-width: 750px){
    .container {
        margin-top: 15vh;
        width: 100%;
        max-width: 100%;
        background-color: rgba(255, 235, 205, 0.25);
        display: block;
        padding: 0 1vw 5vw 1vw;
    }

    .north{
        height: 60vh;
        width: 100vw;
    }

    .filter{
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 0.5vw;
        padding: 0.5vw 0;
    }
    
    .minmax{
        display: flex;
        justify-content: space-between;
    }
    
    .filter input[type=text]{
        height: 10vw;
        width: 30vw;
        font-size: 16px;
        padding: 0 0.5vw;
    }
    
    select, option{
        padding: 2vh 0;
    }
    
    .filter input[type=radio]{
        height: 5vw;
        width: 5vw;
        margin: 1vw 0;
    }

    .searchbar{
        height: 7vh;
    }

    .searchbar input{
        height: 100%;
        width: 83%;
        border-radius: 20px;
        border: 0.2px solid black;
        padding: 0 1vw;
    }
    
    .searchbar input::placeholder{
        font-size: 14px;
    }
    
    .searchbar button{
        height: 7vh;
        width: 7vh;
    }

    /*##################*/
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

        width: 100vw;
        max-width: 100vw;
        margin: 2vh 0;
        row-gap: 3vw;
    }

    .navigation{
        height: 5vh;
        width: 5vh;
        bottom: -7vh;
        border-radius: 50%;
    }
    
    .rightBtn, .leftBtn{
        height: 5vh;
        width: 5vh;
        border-radius: 5px solid #000;
    }
}

@media all and (max-width: 1500px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 40vh;
    }
    .filterDiv{      
        height: 50vh;
        width: 25vw;
    }
}

@media all and (max-width: 1200px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 50vh;
    }
    .filterDiv{
        height: 50vh;
        width: 30vw;
    }
}

@media all and (max-width: 920px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 75vh;
    }
    .filterDiv{
        height: 50vh;
        width: 40vw;
    }
}
@media all and (max-width: 650px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        width: 85%;
        height: max-content;
    }
    .container{
        margin-bottom: 200vh;
    }
    .filterDiv{
        height: 50vh;
        width: 60vw;
    }
}
@media all and (max-width: 480px){
    .listArticles {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        width: 80%;
        height: max-content;
    }
    .container{
        margin-bottom: 510vh;
    }
    .filterDiv{
        height: 50vh;
        width: 80vw;
    }
}