<span [class.close]="isFilterVisible" class="humbergerBtn" (click)="popUpFilter()"></span>
<div class="filterDiv" [class.visible]="isFilterVisible">
    <app-filter></app-filter>
</div>
<div class="container" [class.blurred]="isFilterVisible">

    <div class="listArticles">
        <app-article *ngFor="let article of this.articles" [article]="article" (click)="onArticleClick(article)"></app-article>
        <div class="navigationContainer">
            <button type="button" class="navigation leftBtn" (click)="getPrevIndexSlice()" [disabled]="indexStart === 0"><b>&lt;</b></button>
            <button type="button" class="navigation pageIndex" *ngFor="let page of pageIndices" (click)="getSlice(page)">
                {{ page }}
            </button>
            <button type="button" class="navigation rightBtn" (click)="getNextIndexSlice()" [disabled]="indexStart+indexSliceLength >= pageIndices.length"><b>&gt;</b></button>
        </div>
    </div>
</div>