<div class="hero-section" id="hero1">
    <img src="assets/images/heroimage.jpg" alt="">
    <div class="content">
        <div class="left-container">
            <div class="left-content">
                <h4>Best Destination to buy clothes</h4>
                <h1>Dabshy Discover Fashion with a Second Chance!</h1>
                <p>
                    Clear out your closet and cash in with Dabshy! Buy, sell, and discover unique, preloved fashion in a 
                    community that loves style and sustainability. 
                    Refresh your wardrobe today—join Dabshy! 
                </p>
            </div>
        </div> 
    </div>
</div>

<div class="hero-section" id="hero2" style="display: none;">
    <img src="assets/images/heroimage2.png" alt="">
    <div class="content">
        <div class="left-container">
            <div class="left-content">
                <h4>Another Great Destination</h4>
                <h1>Explore New Styles with Dabshy!</h1>
                <p>
                    Discover the latest trends and timeless classics. Join our community and redefine your style with Dabshy!
                </p>
            </div>
        </div> 
    </div>
</div>
<div class="navigation-arrows">
    <button (click)="showHero('hero1')">←</button>
    <button (click)="showHero('hero2')">→</button>
</div>
<!----<div class="navigation">
    <button (click)="showHero('hero1')">1</button>
    <button (click)="showHero('hero2')">2</button>
</div> --->


